<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codehub.marvelheroesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".CreateNotificationChannel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/MainActivity.Theme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activities.ConfirmPassActivity"
            android:theme="@style/AppTheme.Login"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activities.ItemDetails"
            android:theme="@style/DetailsActivity.Theme"/>
        <activity
            android:name=".Activities.SearchActivity"
            android:theme="@style/MainActivity.Theme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Activities.FavoritesList"
            android:theme="@style/DetailsActivity.Theme"/>
        <activity
        android:name=".Activities.NotificationsActivity"
        android:theme="@style/NotificationsActivity.Theme"/>

        <activity
            android:name=".Activities.About"
            android:theme="@style/About.Theme"/>

    </application>
</manifest>